@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
body{
    background-image:linear-gradient(90deg,hsl(44, 91%, 83%),hsl(40, 18%, 97%)) ;
}
.im1{
    margin-left: 1050px;;
    margin-top: -48px;
    padding-left: 0%;
    width: 550px;
}
.im2{
    
    margin-left: 7%;
    margin-top: -9%;
}
li{
    font-family:'Outfit',sans-serif ;
    margin-right: 60px;
    font-weight: 500;
}
.navbar{
    position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top:4% ;
        margin-left: 7%;
}
    
.l1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    display: center;
}
.l11{
    padding-left: 280px;
}
.l12{
    text-decoration: none;

}
.l12:visited{
    color:hsl(22, 95%, 62%);
}
.btn{
    border-top-right-radius:30px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: black;
    color:white;
    font-family:'Outfit',sans-serif ;
    font-weight: 400;
    border:none;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    margin-top: -18px;
}
.im3{
   width: 45px;px;
   padding-left: 976px;
   padding-top: 78px;
}
.im4{
    width:100px;
    padding-left:1110px;
    padding-top: 20px;
}